.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
  
 
}

.wrapper img {
  width: 100px;
  height: 100px;
}

.wrapper p {
  color: black;
}
.features{
  margin-left: 80px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding: 5px; 
  }
  
  .features {
    margin-left: 0; 
  }
  
  .wrapper img {
    width: 80px; 
    height: 80px; 
  }
}